/* Settings - Font, Color Definitions, Mixins */
*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 1em;
    box-sizing: border-box;
    --main-color: hsla(0, 0%, 13%, 1);
    --main-bg: hsla(0, 100%, 100%, 1);
    --active-bg: hsla(0, 0%, 85%, 1);
    --link-red: hsla(0, 100%, 50%, 1);
    --link-blue: hsla(240, 100%, 50%, 1);
    --headline: hsla(0, 0%, 0%, 1);
}

@media (min-width: 640px) {
  html {
      font-size: 1.0625em;
  }
}

body {
    color: var(--main-color);
    background: var(--main-bg);
    font-family: 'Neu Hass', arial, sans-serif;
    line-height: 1.4;
    font-variant-ligatures: common-ligatures
                            discretionary-ligatures
                            historical-ligatures;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
@font-face {
    font-family: 'Neu Hass';
    src: url('https://jamesanaipakos.com/css/NeueHaasGroteskDisplay.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: 500;
    color: var(--headline);
    text-decoration: none;
    /*text-transform: uppercase;*/
}
p {
    margin-bottom: 1em;
}

div > ul, ul {
  margin-bottom: 1em;
  padding-left: 40px;
}

b,
strong {
    font-weight: bold;
}
em {
    font-weight: 300;
}
small {
    font-size: 80%;
}
code {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    color: var(--link-red);
    text-decoration: none;
    word-wrap: break-word;
}
a.link {
    color: var(--link-red);
    text-decoration: none;
}
a.link:hover {
    color: var(--link-blue);
    text-decoration: underline;
    outline: 0;
}
a:hover,
a:visited {
    color: var(--link-blue);
    text-decoration: underline;
    outline: 0;
}

/* Images */

img {
    vertical-align: middle;
    border: 0;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
/* Navigation */

blockquote {
  margin: 16px 40px;
}

.navbar__list {
    list-style: none;
    padding: 0;
    display: inline-block;
}
.navbar--button {
    display: inline-block;
    margin: 0 1.5rem 0 0;
    padding: 0 0 0.5rem;
}
.navbar--button:last-child {
    margin: 0 0;
}
.active {
    background: var(--active-bg);
}
/* Layout */

.container {
    margin: 0 auto;
    padding: 0 .5em 0;
    max-width: 960px;
}
.page-section.short {
    min-height: 6.25em;
    max-width: 640px;
    margin: 0 auto;
}
.tile {
    padding: 0 1.5em 0 0;
}

pre,
pre code {
    background: transparent;
    border-radius: 0;
    margin-bottom: 1em;
}
pre {
    white-space: pre-wrap;
}
code {
  background: #f0f3f3;
}
.pager {
    list-style: none;
}
.pager--button {
    display: inline;
    font-size: .85em;
}

header {
    padding: 1rem;
    margin: 0 0 1rem;
}
@media (min-width: 640px) {
    header {
        margin: 0 auto;
    }
    header .navbar {
        text-align: center;
    }
  }
