/* Styling */
@charset "utf-8";
html {
    height: 100%;
    font-family: sans-serif; 
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; 
}

:root {
    font-size: 1em;
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

/* Mixins */
.Background-size {
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.Ease-transition {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

/*Font*/
body {
    font-family: 'Roboto Slab', georgia, serif;
    font-size: 1rem;
    color: #000;
    line-height: 1.4rem;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
}

body * + * { 
     
}

textarea {
    resize: vertical
}

p {
    line-height: 1.75rem;
    margin-bottom: 1.5625em;
    text-align: left;
    hyphens: auto; /*Firefox only*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed', helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #040404;
    line-height: 1.25em;
}

h1 {
    text-decoration: underline;
}

h3,
h6 {
    font-size: 200%
}

b,
strong {
    font-weight: bold;
}

em {
    font-weight: 300;
}

small {
    font-size: 80%;
}

code {
  font-family: monospace, monospace;
  font-size: 1em;
}

.post-title {
    text-decoration: underline;
    text-align: left;
    &:hover {
        color: #c0392b
    }
}

/* Links */
a {
    .Ease-transition;
    color: #AC3326;
    text-decoration: none;
    word-wrap: break-word;
    &:hover {
        color: #922B20;
        text-decoration: underline;
        outline: 0;
    }
    &:before,
    &:after {
        .Ease-transition;
    }
    &.portfolio:hover,
    &.portfolio:focus {
        color: #c0392b;
        text-decoration: underline;
        outline: 0
    }
    &.link {
        color: #AC3326;
        text-decoration: none;
        &:hover {
            color: #922B20;
            text-decoration: underline;
        }
    }
}

/* Images */
img {
    vertical-align: middle; 
    border: 0;
}

a img {
    background: white
}

.odd a img {
    background: #f5f5f5
}

.img-thumbnail {
    display: inline-block;
    height: auto;
    max-width: 100%;
    padding: .25em;
    line-height: 1.42857143;
    background-color: #000;
}

.github-cat {
    height: 1.5625em;
}

/* Navigation */
.navbar-default {
    border-color: transparent;
    background-color: #fff
}

.navbar-toggle {
    border-color: transparent;
    border: 0 solid transparent
}

.navbar-default .navbar-nav>li>a:hover {
    background-color: #000;
    color: white
}

.navbar-default .navbar-nav>li>a:focus {
    background-color: #c0392b;
    color: white
}

.navbar-default .navbar-nav>li>a {
    color: #000
}

.active {
    background-color: #eee;
}

/* Layout */
.Background-size {
    .Background-size
}

.white {
    h1 {
        padding-top: 2.1875em;
    }
    p {
        padding-top: 1.5625em;
    }
}

.container {
    padding: 0 1em;
    margin: 0 auto;
    max-width: 1080px;
}

.page-section.short {
    max-width: 1080px;
    min-height: 6.25em;
    padding: 3.125em 0;
    margin-top: 3.125em;
}

.disqus-comments {
    margin-top: 30px;
}

@media only screen and (min-width: 768px) {
    .disqus-comments {
        margin-top: 40px;
    }
}
