{% if page.layout != 'post' %}
<div class="intro">
{% else %}
<div class="intro-mobile">
{% endif %}
  <p>I'm a front-end developer based in New York City and Los Angeles. I graduated from Pratt Institute with an MA in Media Studies in 2015. Currently, I work at <a href='https://thereformation.com' class="link" title="Open reformation site" target="_blank">Reformation</a>. Past experience includes developmental editor at Manning Publications, and web application consultant at Capco.</p>
  <p class="about-contact">email:
    <a href="mailto:janaipakos@gmail.com" class="link" title="Open email" target="_blank">janaipakos@gmail.com</a></p>
  <p class="about-contact">github:
    <a href="https://github.com/janaipakos" class="link" title="GitHub link" target="_blank">@janaipakos</a></p>
  <p class="about-contact">resume:
    <a href="./resumes/james_anaipakos_cv.pdf" class="link" title="pdf resume" target="_blank">pdf</a></p>
</div>
