<header>
  <div class="navbar">
   <h1>
          James Anaipakos
      </h1>  
    <nav role="navigation">
        <ul class="navbar__list">
        {% if page.active == "blog" %}
            <li class="active navbar--button"><a href="#">Blog</a></li>
        {% else %}
            <li class="navbar--button"><a href="/">Blog</a></li>
        {% endif %}
        {% if page.active == "projects" %}
            <li class="active navbar--button"><a href="#">Projects</a></li>
        {% else %}
            <li class="navbar--button"> <a href="../projects">Projects</a></li>
        {% endif %}
        {% if page.active == "about" %}
            <li class="active navbar--button"><a href="#">About</a></li>
        {% else %}
            <li class="navbar--button"><a href="../about">About</a></li>
        {% endif %}


      </ul>
      </nav>

  {% if site.avatar %}
  <div class="avatar-container">
    <div class="avatar-img-border">
      <a href="{{ site.url }} ">
        <img class="avatar-img" src="{{ site.avatar | prepend: site.baseurl | replace: '//', '/' }}" />
    </a>
    </div>
  </div>
  {% endif %}
  </div>
</header>