---
common-css:
  - "/css/style.css"
common-ext-css:
common-googlefonts:
common-js:
common-ext-js:
---

<!DOCTYPE html>
<html lang="en">

{% include head.html type="post" %}

  <body>
    <div role="sidebar" class="sidebar">
      {% include nav.html %}
      <div>
        <p>I'm a front-end developer and technical editor based in New York City and Los Angeles, currently at <a href='https://thereformation.com' class="link" title="Open reformation site" target="_blank">Reformation</a>.</p>
        <p>Past experience includes media studies grad student, developmental editor at Manning Publications, and recurser.
        <p class="about-contact">email:
          <a href="mailto:janaipakos@gmail.com" class="link" title="Open email" target="_blank">janaipakos@gmail.com</a><p>
        <p class="about-contact">github:
          <a href="https://github.com/janaipakos" class="link" title="GitHub link" target="_blank">@janaipakos</a><p>
        <p class="about-contact">resume:
          <a href="./resumes/james_anaipakos_cv.pdf" class="link" title="pdf resume" target="_blank">pdf</a></p>
      </div>
    </div>

    <div role="main" class="main-content">
      {{ content }}
    </div>
  {% include footer-scripts.html %}
  </body>
</html>
