<!DOCTYPE html>
	<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="James Anaipakos">
    <meta name="author" content="James Anaipakos">
    <meta name="keywords" content="narrative, UX, , cryptocurrency, data visualization, design, video art, technology, user experience, website design, website development, graphic design, information architecture, user interface design, user experience design, james anaipakos">
    <meta name="title" content="James Anaipakos-Technology and Design">

    <title>James Anaipakos</title>


    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/cosmo/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Font and random CSS -->
    <link href="http://static.tumblr.com/w8z8jth/ITmncq7rg/animate-custom.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
<link href="http://static.tumblr.com/w8z8jth/oN9ngmub0/style.css" rel="stylesheet">

    <!-- jQuery and JavaScript -->
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="http://static.tumblr.com/w8z8jth/ranncq7y1/modernizr.custom.js"></script>
</script>

<!-- text -->
<link type="text/plain" rel="author" href="http://static.tumblr.com/w8z8jth/Ojnngmwdm/humans.txt">

</head>
