---
common-css:
  - "/css/style.css"
common-ext-css:
common-googlefonts:
common-js:
common-ext-js:
---

<!DOCTYPE html>
<html lang="en">

{% include head.html type="post" %}

  <body>
    <div role="sidebar" class="sidebar">
      {% include nav.html %}
      {% if page.layout != 'post'%}
        {% include intro.html %}
      {% else %}
        {% include intro-mobile.html %}
      {% endif %}
    </div>

    <div role="main" class="main-content">
      {{ content }}
    </div>
  {% include footer-scripts.html %}
  </body>
</html>
