---
layout: default
---

<div class="page-section short" >
  <div class="container">
  <div class="row">
    <div>
      <div class="post-heading">
        <h1>{{ page.title }}</h1>
        {% if page.subtitle %}
        <h2 class="post-subheading">{{ page.subtitle }}</h2>
        {% endif %}
        <span class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}</span>
      </div>
     </div>
  </div>


<br>

 <article role="main" class="blog-post">
	  {{ content }}
</article>

<div class="row">
  <div>
    <ul class="pager">
      {% if page.previous.url %}
      <li class="pager--button previous">
        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">< Previous Post</a>
      </li>
      {% endif %}
      {% if page.next.url %}
      <li class="pager--button next">
        <a style="float:right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post ></a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
</div>
</div>